<section>
  <div class="page-header">
    <h1>Foods</h1>
  </div>
  <div class="list-group">
    <form class="list-group-item" ng-if="vm.foods.$resolved && vm.foods.length">
      <table class="table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Food Name</th>
          <th>Created</th>
          <th>Created by</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody ng-repeat="food in vm.foods">
        <tr>
          <td><span ng-bind="food._id"></span></td>
          <td ui-sref="foods.view({ foodId: food._id })"><span ng-bind="food.name"></span></td>
          <td><span ng-bind="food.created | date:'hh:mm dd-MM-yyyy'"></span></td>
          <td><span ng-bind="food.user.displayName"></span></td>
          <td><a class="btn btn-primary" ui-sref="foods.edit({ foodId: food._id })"><i class="glyphicon glyphicon-edit"></i></a></td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.foods.$resolved && !vm.foods.length">
    No Foods yet, why don't you <a ui-sref="foods.create">create one</a>?
  </div>
</section>
