<section class="row">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your account username.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" required autofocus>
          <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Enter a username.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
